main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    width: 100%;
    min-height: 70vh;
    font-family: 'Poppins', sans-serif;;
}

.container-form{
    background: linear-gradient(to bottom, #fff7cc, #f4d35e);
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 10px #00000033;
}


/* Formulário */

.container-form form{
    display: flex;
    flex-direction: column;
}

.container-form h1{
    color: #7a0000;
    margin-bottom: 25px;
    font-size: 40px;
}

.container-form textarea:focus{
    box-shadow: 0 0 10px #7a000080;
}


/* INPUT */
.input-box{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* ÍCONE */
.input-box .icon{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.icon{
    color: #7a0000;
    font-size: 16px;
}


.icon-eye{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    transition: 0.3s;
}

/* INPUT */
.input-box textarea{
    width: 100%;
    padding: 14px 14px 14px 45px;
    border: none;
    border-radius: 10px;
    outline: none;
    resize: none;
    font-size: 16px;
    background: #fffffff2;
    height: 200px;
}

.container-form p{
    margin-bottom: 20px;
    color: #7a0000;
    font-weight: bold;
}

/* Estrelas */

.avaliacao{
    display: flex;
    gap: 5px;
    cursor: pointer;

}

.estrela{
    font-size: 30px;
    color: #000;
    transition: 0.2s;

}

/* Estrela inteira */
.estrela.cheia{
    color: gold;
}

/* Meia estrela */
.estrela.meia{
    background: linear-gradient(90deg,gold 50%,black 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Botão */

.container-form button{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #7a0000;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.container-form button:hover{
    background: #550000;
    transform: scale(1.02);
}