/* DESIGN DO CARDAPIO */

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f1e7;
}


/* LOGO */

.topo{
    display: flex;
    align-items: center; 
    gap: 20px;
    padding: 20px;
}

.topo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.topo h1{
    color: white;
    margin: 0;
}


/* CATEGORIAS */

.categoria{
    padding: 40px;
}

.categoria h2{
    color: #8B0000;
    margin-bottom: 25px;
}

/* LINHA DOS CARDS */

.linha-cards{
    display: flex;
    gap: 25px;
    overflow-x: auto;
    padding-bottom: 10px;
}

/* CARD */

.card{
    min-width: 250px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-10px);
}

.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3{
    margin: 15px;
}

.card p{
    margin: 15px;
    color: #555;
}

.card span{
    display: block;
    margin: 15px;
    color: #8B0000;
    font-size: 20px;
    font-weight: bold;
}


/* CONTAINER */

.container-cards{
    position: relative;
    display: flex;
    align-items: center;
}

/* LINHA */

.linha-cards{
    display: flex;
    gap: 25px;
overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
    scrollbar-width: none;
}

.linha-cards::-webkit-scrollbar{
    display: none;
}

/* SETAS */

.seta{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #8B0000;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 10;
}

.seta:hover{
    background: #b22222;
    transform: scale(1.1);
}


.categoria{
    margin: 50px 0;
}

.titulo-categoria{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.titulo-categoria h2{
    color: darkred;
    font-size: 30px;
}

.botoes-scroll{
    display: flex;
    gap: 10px;
}

.seta{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: #1a1a1a;
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: .3s;
}

.seta:hover{
    background: darkred;
    transform: scale(1.1);
}

.linha-container{
    overflow: hidden;
    position: relative;
}

.linha-cards{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
}

.linha-cards::-webkit-scrollbar{
    display: none;
}